# Archivo de ejemplo de variables de entorno

# No hay variables necesarias para este proyecto sin backend
# Por ejemplo si en futuro se integran APIs, definir aquí sus claves

# NEXT_PUBLIC_API_URL=
# NEXT_PUBLIC_ANALYTICS_ID=
